numpy
scipy
pandas
matplotlib
seaborn
scikit-learn
scikit-image
statsmodels
h5py
opencv-python-headless
pillow
tifffile
imageio
networkx
numba
torch
torchvision
jupyter
ipykernel
ipympl
ipywidgets
tqdm
requests
openpyxl
pyqt5
pyqtgraph
cellpose
suite2p
statannotations
facemap
rastermap
dpca